<!doctype html>
<html lang="en" ng-controller="searchController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cmput391</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
    <h1 style="text-align: center;">Search</h1>
        <div style="padding-top: 20px">
            <div class="searchContainer" style="margin: 0 auto; width: 50%; text-align: center;">
                <div class="form-group">
                    <label for="searchKey" style="float: left">Keywords</label>
                    <input class="form-control input-sm" ng-model="searchKey" type="text" placeholder="Eg. 'dog, cat, rabbit'">
                </div>

                <div style="clear: none; float: left">
                <md-input-container>
                    <label>Start Date</label>
                    <input ng-model="searchTimeBegin" type="date">
                </md-input-container>
                </div>
                <div style="clear: none; float: right">
                <md-input-container>
                    <label>End Date</label>
                    <input ng-model="searchTimeEnd" type="date">
                </md-input-container>
                </div>

                <button class="btn btn-default" ng-click="search()" style="margin: 50px;">SEARCH</button>
            </div>

        </div>

        <!-- <form name="searchForm">

            <label class="searchLabel" for="keywordInput"> Keywords
              <input class="form-control input-sm" ng-model="searchKey" type="text"  required="" style="width: 50%">
            </label>

            <label class="searchLabel" for="subjectInput"> Timeframe
              <input class="form-control input-sm" ng-model="searchTime" type="text" required="" style="width: 50%">
            </label>

            <button class="btn btn-default" ng-click="search()">SEARCH</button>
        </form>
  <! ng-disabled="photoForm.$invalid" -->

  </div>


</body>
</html>
