<!doctype html>
<html lang="en" ng-controller="uploadController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cmput391</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <style>
        .tableHeader{
            background-color: transparent !important;
        }
        tr:hover{
            background-color: #99ccff;
        }

    </style>
</head>
<body>
  <div class="uploadContainer" style="margin-left:20px;">
      <input type="file" file-model="myFile"/>

      <button ng-click="showFile()">show me</button>


      <div class="username">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input class="form-control input-sm" ng-model="imgUser" type="text" style="width: 50%;">
        </div>
      </div>

    <!--Maybe make this a drop-down box later-->
    <div class="permission">
      <div class="form-group">
        <label for="permissionInput">Permission (public, private, group)</label>
        <input class="form-control input-sm" ng-model="imgPermit" type="text" style="width: 50%;">
      </div>
    </div>

    <div class="subject">
      <div class="form-group">
        <label for="subjectInput">Subject</label>
        <input class="form-control input-sm" ng-model="imgSubject" type="text" style="width: 50%;">
      </div>
    </div>

    <div class="location">
      <div class="form-group">
        <label for="locationInput">Location</label>
        <input class="form-control input-sm" ng-model="imgLocation" type="text" style="width: 50%;">
      </div>
    </div>

    <div class="when">
      <div class="form-group">
        <label for="whenInput">When</label>
        <input class="form-control input-sm" ng-model="imgWhen" type="text" style="width: 50%;">
      </div>
    </div>

    <div class="description">
      <div class="form-group">
        <label for="descInput">Description</label>
        <input class="form-control input-sm" ng-model="imgDesc" type="text" style="width: 50%;">
      </div>
    </div>

    <button class="btn btn-default" ng-click="uploadFile()">upload me</button>

</div>

</body>
</html>
