<!doctype html>
<html lang="en" ng-app="loginModule" ng-controller="loginController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cmput391</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
  <div class="loginWrapper" style="text-align:center;">
      <div> <h1> CMPUT 391 App </h1> </div>
      <div class="username" style="">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input class="form-control input-sm" ng-model="usernameInput" ng-model-options="{ debounce: 800 }" id="inputuser" type="text" style="margin: 0 auto; width: 50%;">
        </div>
      </div>

      <div class="password">
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input class="form-control input-sm" ng-model="passwordInput" ng-model-options="{ debounce: 800 }" id="inputpass" type="text" style="margin: 0 auto; width: 50%;">
        </div>
      </div>
      <button type="button" class="btn btn-default" ng-click="submit()">LOGIN</button>
  </div>
  <script src="./app.js"></script>
</body>
</html>
